<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Star Wars Node.js App .<a href="http://i-am-konrad-krakowiecki.pl" target="_blanc"> KONRAD KRAKOWIECKI</a></p>

			<div class="social-media-icons">
				<a href="http://i-am-konrad-krakowiecki.pl" target="_blanc"><i class="fa fa-home"></i></a>
				<a href="https://github.com/konradkrakowiecki" target="_blanc"><i class="fa fa-github"></i></a>
				<a href="https://www.linkedin.com/in/konrad-krakowiecki-309b51161" target="_blanc"><i class="fa fa-linkedin"></i></a>
				<a href="mailto:konrad.krakowiecki@gmail.com" target="_blanc"><i class="fa fa-envelope-o"></i></a>
			</div>

		</div>
	</div>
</footer>

